<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="../../plugins/employee/css/employee.css">
    @*<script src='https://kit.fontawesome.com/a076d05399.js'></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-select/css/select.bootstrap4.min.css">

    <section class="HeaderScripts">
        @RenderSection("HeaderScripts", required: false)
    </section>

    <style>
        .user-panel, .user-panel .info { overflow:inherit; white-space:inherit;}
    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<a href="index3.html" class="brand-link">
                    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>*@

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
                    @*<div class="image">
                        <img id="employeeAvatarId" src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>*@
                    <div class="image">
                        <img id="employeeAvatarId" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="javascript:void(null);" data-usercode="" id="employeeDetailId" class="d-block"></a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                @*<div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href=".." class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../tasks" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Tasks
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../taskfollowups" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Follow Ups
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../reports" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Reports
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["Heading"]</h1>
                            @*<h1 class="m-0 text-dark">Dashboard</h1>*@
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright Adnoc Distribution.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                @*<b>Version</b> 3.1.0-pre*@
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/select.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/dataTables.select.min.js"></script>



    <div id="employeeDetailDiv" style="display:none"></div>
    <section class="BodyScripts">
        @RenderSection("BodyScripts", required: false)
    </section>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard.js"></script>*@


    <script>
       $(document).ready(function() {

           var baseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host)";
           var employeeDiv = $('#employeeDetailDiv');

           $("#employeeDetailId").click(function () {
               showEmployeeDetails($("#employeeDetailId").attr("data-usercode"));
           });

           function showEmployeeDetails(userName) {

               userName == null ? null : userName;
               $.ajax({
                   type: "GET",
                   url: baseUrl + "/employeeDetail/Index",
                   contentType: "application/json; charset=utf-8",
                   data: { userName : userName},
                   datatype: "json",
                   success: function (data) {
                       employeeDiv.html(data);
                       employeeDiv.find('.modal').modal('show');
                       employeeDiv.show();

                       var employeeTasksTable = $('#employeeTasksTable').
                           DataTable({
                               paging: false,
                               info: false,
                               searching: false,
                               //scrollY:        300,
                               //scrollX:        true,
                               //scrollCollapse: true,
                               initComplete: function (settings, json) {
                                   var response = settings.json;
                                   if (response.pendingCount == 0) {
                                        $("#taskCount").hide();
                                   }
                                   $("#taskCount").html(response.pendingCount);

                                   var taskDonutData = {
                                       labels: [
                                           'Completed',
                                           'Not Started Yet',
                                           'In Progress',
                                           'On Hold',
                                           'Cancelled'
                                       ],
                                       datasets: [
                                           {
                                               data: [response.completedCount, response.notStartedCount,
                                               response.progressCount, response.onHoldCount, response.cancelledCount],
                                               backgroundColor: ['#00a65a', '#6c757d', '#f39c12', '#6f42c1', '#343a40'],
                                           }
                                       ]
                                   }

                                   var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
                                   var pieData = taskDonutData;
                                   var pieOptions = {
                                       maintainAspectRatio: false,
                                       responsive: true,
                                       legend: {
                                        display: false
                                    }
                                   }
                                   //Create pie or douhnut chart
                                   // You can switch between pie and douhnut using the method below.
                                   var tasksPieChart = new Chart(pieChartCanvas, {
                                       type: 'pie',
                                       data: pieData,
                                       options: pieOptions
                                   });

                               },
                               search: { regex: true, caseInsensitive: true },
                               ajax: {
                                   "url": baseUrl + "/employeeDetail/LoadEmployeeTasksData?username=" + userName,
                                   "type": "POST",
                                   "datatype": "json"
                               },
                               columns: [
                                   {
                                       "render": function (data, type, full, meta) {
                                           return '<a href="' + baseUrl + '/tasks/Edit?id=' + full.taskId + '&viewMode=1"><u>' + full.title + '</u> </a>';
                                       }
                                   },
                                   {
                                       "render": function (data, type, full, meta) {
                                           if (full.status == "Not Started") {
                                               return '<span class="badge badge-secondary">Not Started</span>';
                                           }
                                           else
                                               if (full.status == "In Progress") {
                                                   return '<span class="badge badge-warning text-white"> In Progress</span > ';
                                               }
                                               else
                                                   if (full.status == "On Hold") {
                                                       return '<span class="badge badge-secondary">On Hold</span>';
                                                   }
                                                   else
                                                       if (full.status == "Cancelled") {
                                                           return '<span class="badge badge-secondary">Cancelled</span>';
                                                       }
                                                       else
                                                           return '<span class="badge badge-success">Completed</span>';
                                       }
                                   },
                                   { "data": "sortId", "name": "SortId", "autoWidth": true, "visible": false, "searchable": false },

                               ],
                               order: [[2, 'asc']]
                           });

                       var employeefollowUpsTable = $('#employeefollowUpsTable').
                           DataTable({
                               paging: false,
                               info: false,
                               searching: false,
                               //pageLength: 10,
                               //"scrollY": 200,
                               //"scrollX" : 200,
                               initComplete: function (settings, json) {
                                   if (this.api().data().length == 0) {
                                        $("#followupCount").hide();
                                   }
                                   $("#followupCount").html(this.api().data().length);
                                   var response = settings.json;
                                   var followupsDonutData = {
                                       labels: [
                                           'Pending',
                                           'Completed'
                                       ],
                                       datasets: [
                                           {
                                               data: [response.pendingFollowUps, response.completedFollowUps],
                                               backgroundColor: ['#f39c12', '#00a65a'],
                                           }
                                       ]
                                   }

                                   var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d');
                                   var pieData = followupsDonutData;
                                   var pieOptions = {
                                       maintainAspectRatio: false,
                                       responsive: true,
                                       legend: {
                                        display: false
                                    }
                                   }
                                   //Create pie or douhnut chart
                                   // You can switch between pie and douhnut using the method below.
                                   var followupPieChart = new Chart(pieChartCanvas2, {
                                       type: 'pie',
                                       data: pieData,
                                       options: pieOptions
                                   });

                                   if (this.api().data().length == 0) {
                                    $('#pieChart2').hide();
                                    $('#followUpPiDiv').hide();
                                    $("#tasksPiDiv").removeClass("col-md-6 d-flex justify-content-center");
                                    $("#tasksPiDiv").addClass("col-md-12 d-flex justify-content-center");
                                    $("#textset1").hide();
                                    $("#textset2").show();
                                }
                               },
                               search: { regex: true, caseInsensitive: true },
                               ajax: {
                                   "url": baseUrl + "/employeeDetail/LoadEmployeeFollowUps?username=" + currentUserName,
                                   "type": "POST",
                                   "datatype": "json"
                               },
                               columns: [
                                   {
                                       "render": function (data, type, full, meta) {
                                           return '<a href="' + baseUrl + '/tasks/Edit?id=' + full.taskId + '&viewMode=1"><u>' + full.taskInfo + '</u> </a>';
                                       }
                                   },
                                   {
                                        "render": function (data, type, full, meta) {
                                            return '<img name="employeeAvatar" src="../dist/img/user2-160x160.jpg" width="40px" height="40px" class="img-circle elevation-2" alt="User Image"></img>'
                                                + '&nbsp;&nbsp;<span>' + full.followUpEmployeeName + '</span>';
                                        }
                                   },
                                   {
                                       "render": function (data, type, full, meta) {
                                           if (full.status == "Not Started") {
                                               return '<span class="badge badge-secondary">Not Started</span>';
                                           }
                                           else
                                            if (full.status == "In Progress") {
                                                return '<span class="badge badge-warning text-white"> In Progress</span > ';
                                            }
                                            else
                                            if (full.status == "On Hold") {
                                                return '<span class="badge badge-secondary">On Hold</span>';
                                            }
                                            else
                                            if (full.status == "Cancelled") {
                                                return '<span class="badge badge-secondary">Cancelled</span>';
                                            }
                                            else
                                                return '<span class="badge badge-success">Completed</span>';
                                       }
                                   },
                                   { "data": "sortId", "name": "SortId", "autoWidth": true, "visible": false, "searchable": false }
                               ],
                               order: [[3, 'asc']]
                           });



                       $("#employee-closePopup-icon").click(function () {
                           $('.modal-backdrop').removeClass("modal-backdrop");
                           employeeDiv.hide();
                       });
                   },
                   error: function () {
                       alert("Dynamic content load failed.");
                   }
               });
           }

        });
    </script>



</body>
</html>
