<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="../../plugins/employee/css/employee.css">
    @*<script src='https://kit.fontawesome.com/a076d05399.js'></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-select/css/select.bootstrap4.min.css">

    <section class="HeaderScripts">
        @RenderSection("HeaderScripts", required: false)
    </section>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<a href="index3.html" class="brand-link">
                    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>*@

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @*<div class="image">
                        <img id="employeeAvatarId" src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>*@
                    <div class="image">
                        <img id="employeeAvatarId" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a id="employeeDetailId" href="#" class="d-block"></a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href=".." class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../tasks" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Tasks
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../taskfollowups" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Follow Ups
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Reports
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["Heading"]</h1>
                            @*<h1 class="m-0 text-dark">Dashboard</h1>*@
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0-pre
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/select.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-select/js/dataTables.select.min.js"></script>



    <div id="employeeDetailDiv" style="display:none"></div>
    <section class="BodyScripts">
        @RenderSection("BodyScripts", required: false)
    </section>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard.js"></script>*@


    <script>
       $(document).ready(function() {

           var baseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host)";
           var employeeDiv = $('#employeeDetailDiv');
           $("#employeeAvatarId").attr("src", "../dist/img/user2-160x160.jpg");
           //var options = { "backdrop": "static", keyboard: true };

           $("#employeeDetailId").click(function () {
               $.ajax({
                        type: "GET",
                        url:  baseUrl + "/employeeDetail/Index",
                        contentType: "application/json; charset=utf-8",
                        data:null,
                        datatype: "json",
                        success: function (data) {
                            employeeDiv.html(data);
                            employeeDiv.find('.modal').modal('show');
                            employeeDiv.show();

                            var employeeTasksTable = $('#employeeTasksTable').
                                DataTable({
                                paging: true,
                                pageLength: 10,
                                initComplete: function (settings, json) {
                                    $("#taskCount").html(this.api().data().length);
                                },
                                search: {regex: true, caseInsensitive: true},
                                    ajax: {
                                    "url": baseUrl + "/employeeDetail/LoadEmployeeTasksData",
                                    "type": "POST",
                                    "datatype": "json"
                                    },
                                    columns: [
                                        { "data": "title", "name": "Title", "autoWidth": true, "visible": true, "searchable": true },
                                        { "data": "status", "name": "Status", "autoWidth": true, "visible": true, "searchable": true },
                                        { "data" : "targetDate", "name": "Target Date", "autoWidth": true, "visible" : true, "searchable" : true},
                                ],
                                order: [[ 1, 'desc' ]]
                            });

                            var employeefollowUpsTable = $('#employeefollowUpsTable').
                                DataTable({
                                paging: true,
                                pageLength: 10,
                                initComplete: function(settings, json) {
                                    $("#followupCount").html(this.api().data().length);
                                },
                                search: {regex: true, caseInsensitive: true},
                                    ajax: {
                                    "url": baseUrl + "/employeeDetail/LoadEmployeeFollowUps",
                                    "type": "POST",
                                    "datatype": "json"
                                    },
                                    columns: [
                                        { "data": "taskInfo", "name": "Title", "autoWidth": true, "visible": true, "searchable": true },
                                        { "data": "followUpFrom", "name": "Follow Up From", "autoWidth": true, "visible": true, "searchable": true },
                                        { "data" : "status", "name": "Status", "autoWidth": true, "visible" : true, "searchable" : true},
                                ],
                                order: [[ 1, 'desc' ]]
                                });

                            var donutData        = {
                              labels: [
                                  'Chrome',
                                  'IE',
                                  'FireFox'
                              ],
                              datasets: [
                                {
                                  data: [700,500,400],
                                  backgroundColor : ['#f56954', '#00a65a', '#f39c12'],
                                }
                              ]
                            }

                            //-------------
                            //- PIE CHART -
                            //-------------
                            // Get context with jQuery - using jQuery's .get() method.
                            var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
                            var pieData        = donutData;
                            var pieOptions     = {
                              maintainAspectRatio : false,
                              responsive : true,
                            }
                            //Create pie or douhnut chart
                            // You can switch between pie and douhnut using the method below.
                            var pieChart = new Chart(pieChartCanvas, {
                                type: 'pie',
                                data: pieData,
                                options: pieOptions
                            });

                             //-------------
                            //- PIE CHART -
                            //-------------
                            // Get context with jQuery - using jQuery's .get() method.
                            var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d');
                            var pieData        = donutData;
                            var pieOptions     = {
                              maintainAspectRatio : false,
                              responsive : true,
                            }
                            //Create pie or douhnut chart
                            // You can switch between pie and douhnut using the method below.
                            var pieChart2 = new Chart(pieChartCanvas2, {
                                type: 'pie',
                                data: pieData,
                                options: pieOptions
                            });


                            $("#employee-closePopup-icon").click(function () {
                                $('.modal-backdrop').removeClass("modal-backdrop");
                                employeeDiv.hide();
                            });
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
           });
        });
    </script>



</body>
</html>
