@model TaskManager.Web.Models.EmployeeViewModel


<style>

    .employeemodal{
       width:70%;
       position: absolute;
       top: 10px;
       right: 100px;
       bottom: 0;
       left: 196px;
       z-index: 10040;
       overflow: auto;
       overflow-y: auto;
    }

    /*this css trick is necessary to make a fake modal persist the scroll in the background*/ 
    .modal-open {
        overflow: scroll;
    }

</style>



<script>

    $(document).ready(function () {

         @if (ViewData["UserName"] != null)
            {
                <text>
                    $("#userinfoName").html("@ViewData["UserName"]");
                    $("#employeeAvatarPic").attr("src", "https://cdn.flickeringmyth.com/wp-content/uploads/2020/08/The-Batman.jpg");    
                </text>
            }

    });

</script>


    <div class="modal employeemodal fade" id="employeeModalId" style="display:none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Employee Details : <span id="userinfoName"></span></h3>
                                <div class="card-tools">
                                    <button type="button" class="close" id="employee-closePopup-icon" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 employee-sidebar">
                                    <div class="portlet light profile-sidebar-portlet bordered">
                                        <div class="profile-userpic" style="text-align:center">
                                            <img id="employeeAvatarPic" class="img-responsive" alt="">
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">@Model.EmployeeName</div>
                                        </div>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><b>Presence</b></td>
                                                    <td>@Model.Presence</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Phone</b></td>
                                                    <td>@Model.Phone</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Email</b></td>
                                                    <td>@Model.EmailAddres</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Reports To</b></td>
                                                    <td>@Model.ReportsTo</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-8">

                                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Summary</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Tasks&nbsp;<span id="taskCount" class="badge badge-pill badge-warning"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill" href="#custom-content-below-messages" role="tab" aria-controls="custom-content-below-messages" aria-selected="false">Follow Ups&nbsp;<span id="followupCount" class="badge badge-pill badge-warning"></span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="custom-content-below-tabContent">
                                        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; min-width:80%; max-width: 80%;"></canvas>

                                                </div>
                                                <div class="col-md-6">
                                                    <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; min-width:80%; max-width: 80%;"></canvas>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 d-flex justify-content-center">
                                                    <span><b>Tasks</b></span>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-center">
                                                    <span><b>Follow Ups</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">

                                                            <table id="employeeTasksTable" class="table table-bordered table-hover" style="width:80%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Title</th>
                                                                        <th>Status</th>
                                                                        <th>SortId</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel" aria-labelledby="custom-content-below-messages-tab">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <table id="employeefollowUpsTable" class="table table-bordered table-hover" style="width:80%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Title</th>
                                                                        <th>Follow Up From</th>
                                                                        <th>Status</th>
                                                                        <th>SortId</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>