@model TaskManager.Web.Models.EmployeeViewModel


<style>

    .employeemodal{
       width:70%;
       position: absolute;
       top: 10px;
       right: 100px;
       bottom: 0;
       left: 196px;
       z-index: 10040;
       overflow: auto;
       overflow-y: auto;
    }
    .employeemodal .modal-header { padding: 10px 15px 10px 15px;
        display: flex;
        align-items: center;}
    .modal-header .close { font-size:32px; }

    /*this css trick is necessary to make a fake modal persist the scroll in the background*/ 
    .modal-open {
        overflow: scroll;
    }

     #employeeTasksTable th {
          background-color: #343a40;
          color: white;
     }

     #employeefollowUpsTable th {
         background-color: #343a40;
         color: white;
     }

     .profile-usertitle-name {
        color: #5a7391;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px; 
    }


     .profile-usertitle {
        text-align: center;
        margin-top: 0px; 
    }

      /*table.employeedetailtbl tbody tr{
            color: black;
            background-color: #C0C0C0;
      }*/

      .nav-link.employee.active{
          background:#343a40 !important;
          color:white !important;
      }

</style>



<script>

    $(document).ready(function () {

         @if (ViewData["UserName"] != null)
            {
                <text>
                    $("#userinfoName").html("@Model.EmployeeName");
                    $("#employeeAvatarPic").attr("src", "@Model.AvatarImage");    
                </text>
            }

    });

</script>


<div class="modal fade" id="employeeModalId" style="display:none">
    <div class="modal-dialog modal-lg">
       
        <div class="modal-content">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                   
                        <div class="modal-header mb-2" style="background:#343a40;">
                            <h4 class="modal-title" style="color:white">Employee Details : <span id="userinfoName"></span></h4>
                                <button type="button" style="color:white" class="close" id="employee-closePopup-icon" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 employee-sidebar">

                                    <div class="portlet light profile-sidebar-portlet bordered" >
                                        <div class="profile-userpic" style="text-align:center;">
                                            <img id="employeeAvatarPic" style="height:80px;" class="img-responsive" alt="">
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">@Model.EmployeeName</div>
                                            <div class="profile-usertitle-name">@Model.Title</div>
                                            <div class="profile-usertitle-name">@Model.Department</div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover employeedetailtbl">
                                                <tbody>
                                                    <tr >
                                                        <td><b>Presence</b></td>
                                                        <td>@Model.Presence</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Phone</b></td>
                                                        <td>@Model.Phone</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Email</b></td>
                                                        <td>@Model.EmailAddres</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Reports To</b></td>
                                                        <td>@Model.ReportsTo</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-8">

                                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link employee active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Summary</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link employee" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Tasks&nbsp;<span id="taskCount" class="badge badge-pill badge-warning"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link employee" id="custom-content-below-messages-tab" data-toggle="pill" href="#custom-content-below-messages" role="tab" aria-controls="custom-content-below-messages" aria-selected="false">Follow Ups&nbsp;<span id="followupCount" class="badge badge-pill badge-warning"></span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="custom-content-below-tabContent">
                                        <div class="tab-pane card pb-5 pt-3 fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                                            <br />
                                            <div class="row" id="piChartsDiv">
                                                <div id="tasksPiDiv" class="col-md-6 d-flex justify-content-center">
                                                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; min-width:80%; max-width: 80%;"></canvas>

                                                </div>
                                                <div id="followUpPiDiv" class="col-md-6 d-flex justify-content-center" style="display:block">
                                                    <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; min-width:80%; max-width: 80%;"></canvas>
                                                </div>
                                            </div>
                                            <div class="row" id="textset1">
                                                <div class="col-md-6 d-flex justify-content-center" id="piecharttaskId">
                                                    <span><b>Tasks</b></span>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-center" id="followUpTextDiv">
                                                    <span id="followuptxtId"><b>Follow Ups</b></span>
                                                </div>
                                            </div>
                                            <div class="row" id="textset2" style="display:none">
                                                <div class="col-md-12 d-flex justify-content-center">
                                                    <span><b>Tasks</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <table id="employeeTasksTable" class="table table-bordered table-hover" style="width:80%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Title</th>
                                                                        <th>Status</th>
                                                                        <th>SortId</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel" aria-labelledby="custom-content-below-messages-tab">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table id="employeefollowUpsTable" class="table table-bordered table-hover" style="width:80%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Title</th>
                                                                            <th>Follow Up From</th>
                                                                            <th>Status</th>
                                                                            <th>SortId</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
        
    </div>
</div>
