@model TaskManager.Web.Models.TaskViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Task</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="@Model.Task.Title" class="control-label"></label>
                <input asp-for="@Model.Task.Title" class="form-control" />
                <span asp-validation-for="@Model.Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Description" class="control-label"></label>
                <input asp-for="@Model.Task.Description" class="form-control" />
                <span asp-validation-for="@Model.Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label class="control-label">Assignee</label></b>
                @Html.DropDownListFor(x => x.AssigneeCode,
                       Model.EmployeeList,
                       new
                                       {
                                           @class = "chosen-select form-control input-form",
                                       })
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Target" class="control-label"></label>
                <input asp-for="@Model.Task.Target" class="form-control" />
                <span asp-validation-for="@Model.Task.Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label class="control-label">Priority</label></b>
                @Html.DropDownListFor(x => x.PriorityId,
                       Model.PriorityList,
                       new
                                       {
                                           @class = "chosen-select form-control input-form",
                                       })
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="task-submit-btnId" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->