@model TaskManager.Web.Models.TaskViewModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Heading"] = "Task Details";
}


@section HeaderScripts {

    <style>
        /*.active, .multi-btn:hover {
          background-color: #666;
          color: white;
        }*/

        .multi-btn.active {
            background-color: #343a40 !important;
            color: white !important;
        }

        #historyTable th {
            background-color: #343a40;
            color: white;
        }
    </style>

}

<div id="assignee-placeholder"></div>
<div id="modal-default">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-2">
            <div class="color-palette-set mb-1">
                <button type="button" class="btn btn-block btn-primary btn-sm">Return</button>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="color-palette-set mb-1">
                <button type="button" id="editTaskBtnId" class="btn btn-block btn-primary btn-sm">Edit</button>
            </div>
        </div>
        <div class="col-sm-4 col-md-2" id="deleteBtnDiv">
            <div class="color-palette-set mb-1">
                <button type="button" id="deleteTaskBtnId" class="btn btn-block btn-danger btn-sm">Delete</button>
            </div>
        </div>
        <div class="col-sm-4 col-md-2" id="updateAssigneeDiv">
            <div class="color-palette-set mb-1">
                <button type="button" class="btn btn-block btn-primary btn-sm" id="updateAssigneeBtnId">Update Assignee</button>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-sm-6">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Progress Update</h3>
                    <div class="card-tools">
                        <button type="button" id="updateTaskBtnId" class="btn  btn-primary btn-sm">New</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Status</dt>
                        <dd class="col-sm-8"><span id="taskStatusBadge" class="badge bg-primary">@Model.Task.TaskStatus.Status</span></dd>
                        <dt class="col-sm-4">Progress</dt>
                        <dd class="col-sm-8"><input id="taskProgressUpdateId" type="text" class="knob" value="@Model.Task.TaskProgress%" data-width="90" data-height="90" data-fgColor="#3c8dbc"></dd>
                        <dt class="col-sm-4">Remarks</dt>
                        <dd class="col-sm-8" id="taskRemarks">@Model.Task.Description</dd>
                    </dl>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <div class="col-sm-6">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class='fas fa-user-alt'></i>&nbsp;People</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div id="people-placeholder" class="card-body">
                    @*<div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <i class="far fa-user-circle" style="font-size:24px" aria-hidden="true">
                                </i>&nbsp;Taha Hasan&nbsp;
                                <i class="fas fa-wifi" aria-hidden="true"></i>
                            </div>
                            <span class="float-right text-md">Creator</span>
                        </div>
                        <br />
                        <br />
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <i class="far fa-user-circle" style="font-size:24px" aria-hidden="true">
                                </i>&nbsp;Taha Hasan&nbsp;
                                <i class="fas fa-wifi" aria-hidden="true"></i>
                            </div>
                            <span class="float-right text-md">Creator</span>
                        </div>*@
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div id="modal-update-placeholder">
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sub Tasks</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" id="subTaskPlaceHolder">
                    @*<div class="row">
                            <div class="col-5 pl-0 d-flex align-items-center">
                                <input class="mr-1" type="checkbox">
                                <input value="Create a report" class="w-100" disabled />
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <i class="far fa-user-circle mr-1" style="font-size:24px" aria-hidden="true">
                                </i>
                                <a href="javascript:void(null);" name="employeeLink" rel="nofollow noreferrer"><u>Taha Hasan</u></a>
                                <div class="form-group mb-0 w-100" name="employeeDrpDwndiv" style="display:none;">
                                    <select name="employeeDrpDwn" class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-1">
                                <i name="delete" id="24" class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-info btn-flat">Add Task</button>
                                </span>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">History</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <br />
                <div class="btn-group btn-group-toggle" style="padding-left:10px; width:60%;" data-toggle="buttons">
                    <label class="btn btn-info multi-btn active">
                        <input type="checkbox" class="historyType" value="progress" checked autocomplete="off"> Progress
                    </label>
                    <label class="btn btn-info multi-btn">
                        <input type="checkbox" class="historyType" value="assignment" autocomplete="off"> Assignment
                    </label>
                    <label class="btn btn-info multi-btn">
                        <input type="checkbox" class="historyType" value="followup" autocomplete="off"> Follow Up
                    </label>
                    <label class="btn btn-info multi-btn">
                        <input type="checkbox" class="historyType" value="followupresponse" autocomplete="off"> Follow Up Response
                    </label>
                    <label class="btn btn-info multi-btn">
                        <input type="checkbox" class="historyType" value="subtasks" autocomplete="off"> SubTasks
                    </label>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="historyTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Action By</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@section BodyScripts {


    <script>

        var thisPage = '../tasks';
        var taskId = @Model.Task.Id;
        var taskStatus = "@Model.Task.TaskStatus.Status";
        var taskCapacityCreator = @((int)TaskManager.Common.Common.TaskCapacity.Creator);
        var taskCapacityAssignee = @((int)TaskManager.Common.Common.TaskCapacity.Assignee);
        var taskCapacityFollower = @((int)TaskManager.Common.Common.TaskCapacity.Follower);
        var taskCapacityExTaskAssignee = @((int)TaskManager.Common.Common.TaskCapacity.ExTaskAssignee);
        var taskCapacitySubTaskAssignee = @((int)TaskManager.Common.Common.TaskCapacity.SubTaskAssignee);

        var progressAuditType = "@((int)TaskManager.Common.Common.AuditType.Progress)";
        var assignmentAuditType = "@((int)TaskManager.Common.Common.AuditType.Assignment)";
        var followUpAuditType = "@((int)TaskManager.Common.Common.AuditType.FollowUp)";
        var followUpResponseAuditType = "@((int)TaskManager.Common.Common.AuditType.FollowUpResponse)";
        var subTaskAuditType = "@((int)TaskManager.Common.Common.AuditType.SubTasks)";
        var thisBaseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host)";

        var currentUserName = '';
        @if (ViewData["UserName"] != null)
        {
                <text>
                    testing = "@ViewData["UserName"]";
                    currentUserName =  "@ViewData["UserName"]";
                </text>
        }

    </script>

    <script src="../../dist/js/global.js"></script>
    <script src="../../dist/js/pages/taskEdit.js"></script>
}
