@model TaskManager.Web.Models.TaskViewModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Heading"] = "Tasks";
}

@section HeaderScripts {
    <link rel="stylesheet" href="../../dist/css/tasks.css">
    <style>
        .select2 {
            width:100%!important;
        }
        .slider {
            width: 60%;
        }

        input[type="range"]:disabled {
            background: #28a745 !important;
            color: #28a745 !important;
        }

        input[type="range"]:disabled {
            /* Disabled Element */
            color: #28a745 !important;
        }

        input[type="range"]:disabled::-webkit-slider-runnable-track {
            /* Disabled slider-runnable-track */
            color: #28a745 !important;
        }

        input[type="range"]:disabled::-moz-range-track {
              /* Disabled slider-range-track */
              color: #28a745 !important;
        }

        input[type="range"]:disabled::-webkit-slider-thumb {
            /* Disabled slider-thumb */
            color: #28a745 !important;
        }

        input[type="range"]:disabled::-moz-range-thumb {
            /* Disabled slider-thumb */
            color: #28a745 !important;
        }


    </style>

}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <!-- Default box -->
            <div class="card collapsed-card">
                <div class="card-header">
                    <i class="fa fa-filter" style="float:left" aria-hidden="true"></i>
                    <h3 class="card-title">Filters</h3>
                    <div class="card-tools">
                        <button id="filterCollapseBtnId" type="button" class="btn btn-tool" aria-expanded="false" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Task Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="taskNameId" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button id="clearTaskNameId" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="statusSelectValuesId" class="select2" multiple="multiple" data-placeholder="Select status">
                                    <option>Not Started</option>
                                    <option>In Progress</option>
                                    <option>On Hold</option>
                                    <option>Cancelled</option>
                                    <option>Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align:left">
                            <div class="form-group">
                                <button id="clearStatusId" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                                <button id="defaultStatusId" class="btn btn-default"><i class="far fa-circle"></i>Default</button>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Assigned To</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="assignSelectValuesId" class="select2" multiple="multiple" data-placeholder="Select assigned to" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button id="clearAssignId" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                                <button id="defaultAssignUserId" class="btn btn-default"><i class="fas fa-user"></i>Me</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Progress</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="progressFrom" class="form-control" id="progressFromSelectId">
                                    <option>Any</option>
                                    <option>0</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>75</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1" style="text-align:center">
                            <div class="form-group">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="progressTo" class="form-control" id="progressToSelectId">
                                    <option>Any</option>
                                    <option>0</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>75</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align:right">
                            <div class="form-group">
                                <button id="clearProgressId" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Target Date</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group date" id="targetFromdate" data-target-input="nearest">
                                    <input id="fromRange" placeholder="From Date" type="text" class="form-control datetimepicker-input" data-target="#targetFromdate" />
                                    <div class="input-group-append" hidden data-target="#targetFromdate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i id="calendarFromtrigger" hidden class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="text-align:center">
                            <div class="form-group">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group date" id="targetTodate" data-target-input="nearest">
                                    <input id="toRange" placeholder="To Date" type="text" class="form-control datetimepicker-input" data-target="#targetTodate" />
                                    <div class="input-group-append" hidden data-target="#targetTodate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i id="calendarTotrigger" hidden class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align:right">
                            <div class="form-group">
                                <button id="clearTargetId" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:40px;">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Created By</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="createdByValuesId" class="select2" multiple="multiple" data-placeholder="Created by" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button id="clearCreatedById" class="btn btn-default"><i class="fa fa-close"></i>Clear</button>
                                <button id="defaultCreatedByUserId" class="btn btn-default"><i class="fas fa-user"></i>Me</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" id="filter-submit-id" class="btn btn-primary">Apply</button>
                    <button type="button" id="filter-reset-id" class="btn btn-default" data-dismiss="modal">Reset</button>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Summary</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="summaryRow" style="display:none;">
                            <div class="col-md-2  text-center">
                                <input id="totalTasksId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#3c8dbc">
                                <div class="knob-label">Total</div>
                            </div>
                            <div class="col-md-2 text-center">
                                <input id="notStartedTaskId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#6c757d">
                                <div class="knob-label">Not Started</div>
                            </div>
                            <div class="col-md-2 text-center">
                                <input id="inProgressTaskId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#f39c12">
                                <div class="knob-label">In Progress</div>
                            </div>
                            <div class="col-md-2 text-center">
                                <input id="cancelledTasksId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#343a40">

                                <div class="knob-label">Cancelled</div>
                            </div>
                            <div class="col-md-2 text-center">
                                <input id="completedTasksId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#00a65a">
                                <div class="knob-label">Completed</div>
                            </div>
                            <div class="col-md-2 text-center">
                                <input id="onHoldTaskId" type="text" class="knob" value="30" data-width="120" data-height="120"
                                       data-fgColor="#6f42c1">
                                <div class="knob-label">On Hold</div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            @{
                if (ViewData["deletionMessage"] != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @ViewData["deletionMessage"]
                    </div>
                }
            }

            <div class="card">
                <div class="card-header">
                    <button id="create-task-btnId" class="btn btn-info" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Create")">Create Task</button>
                </div>
                <div id="modal-default">
                </div>
                <div id="modal-followup">
                </div>
                <div id="modal-multiple">
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tasksTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TaskId</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th class="progressCls">Progress</th>
                                    <th>Assigned To</th>
                                    <th>Last Updated</th>
                                    <th>Action</th>
                                    <th>Created By</th>
                                    <th>Target Date</th>
                                    <th>ProgressVal</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>



                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <button id="take-followup-btnId" class="btn btn-info" data-toggle="ajax-modal" data-target="#add-contact1" data-url="@Url.Action("Create", "TaskFollowUps")">Follow up</button>
    <br />
    <br />

</div>


<!-- /.container-fluid -->

@section BodyScripts {
    <script src="https://timeago.yarp.com/jquery.timeago.js" type="text/javascript"></script>
    <script src="../../plugins/select2/js/select2.full.min.js"></script>

    <script>
        var currentUserName = '';
         @if (ViewData["UserName"] != null)
            {
                <text>
                    currentUserName =  "@ViewData["UserName"]";
                </text>
            }
        var thisBaseUrl = "@Html.Raw(this.Context.Request.Scheme + "://" + this.Context.Request.Host)";
        var thisPage = '../tasks';
    </script>

    <script src="../../dist/js/global.js"></script>
    <script src="../../dist/js/pages/tasks.js"></script>
}
